/** {border: 1px solid red;}
*/html {font-family: Roboto Condensed, sans-serif;}
/*---------------Основная разметка--------------*/
.header {
	max-width: 100%;

}
section {
	width: 100%;
	
}
.second {
	height: 550px;
	
}
.third {
	height: 620px;
	background-image: linear-gradient(#2B4074, white)
}
.fourth {
	height: 580px;
	
}
.fifth {
	height: 1040px;
	background-color: #F9F6E5;
}
.sixth {
	height: 530px;
}
.seventh {
	height: 640px;
	background-color: #2B4074;
	position: relative;

}
.scroll {
	height: 40px;
	background-color: #F9F6E5;
}
/*---------------Конец основной разметки--------------*/
.header-text {
	max-width: 100%;
	height: 190px;
}
.header-nav {
	background-color: #2B4074;
}
.nav {
	max-width: 1300px;

	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
}

.menu-button {
	background-color: white;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 3px;
	float: right;
}
.header-intro {
	
	max-width: 100%;
	background-image: url("../images/bg-img.jpg");
	height: 670px;
	display: flex;
	flex-direction: column;
	background-size: cover;
	align-items: center;
	margin-left: auto;

    margin-right: auto;
}
h1, p {
	color: white;
	margin: 0;
}
.mind {
	width: 590px;
	height: 192px;
	text-align: center;
	color: white;
	letter-spacing: 2px;
	font-size: 96px;
	line-height: 96px;
	font-weight: normal;
	
}
.btn {
	width: 150px;
	text-align: center;
	color: white;
	text-decoration: none;
	
	font-size: 18px;
	background-color: #2B4074;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 18px;
	padding-bottom: 14px;
	border-radius: 3px;

}
.btn:hover {
	background-color: #F9F6E5;
	color: #2B4074;
}
.intro-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 70px;
	font-weight: 700;
	
}
.header-text {
	font-size: 24px;
	width: 890px;
	margin-top: 30px;
	margin-bottom: 30px;
	height: 80px;
	text-align: center;
}

.fa-bars:before {
    content: "\f0c9";
}
.dots {
	margin-top: 100px;
}
.fa-circle{
	margin-left: 5px;
    margin-right: 5px;
    color: white;
    border-radius: 50%;
    background: white;
    font-size: 13px;
}
.fa-circle:before {
    content: '\f111';
}
.fa-circle:hover {
	
	background-color: transparent;
}
.arrows {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	right: 0px;
	top: 320px;
}
.fa-chevron-left:before {
	content: '\f053';
}
.fa-chevron-right:before {
	content: '\f054';
}

.fa-chevron-left,  .fa-chevron-right{
	color: white;
	padding: 25px;
	font-size: 25px;
	border-radius: 5px;
	background-color: #2B4074;
}

.fa-chevron-left:hover, .fa-chevron-right:hover {
	background-color: #F9F6E5;
	color: gray;
}
.about {
	width: 100%;
	height: 200px;
	background-color: #2B4074;
}
.recall {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	padding-top: 55px;
	width: 1000px;
	justify-content: space-around;
	align-items: center;
}
.about-text {
	color: white;
}
.about-btn {
	text-decoration: none;
	width: 200px;
	color: #2B4074;
	background-color: #F9F6E5;
	padding: 15px;
	height: 50px;
	border-radius: 3px;
	font-size: 18px;
}
.about-btn:hover {
	border: 2px solid #F9F6E5;
	background-color: #2B4074;
	color: #F9F6E5;
}
.second-text {
	width: 400px;
	margin-left: 80px;
	display: flex;
	flex-direction: column;
	justify-content: left;
}
.second-p {
	color: black;
	font-size: 24px;
	width: 390px;
}
.second-p-p {
	color: #797979;
	font-size: 18px;
	width: 350px;
}
.services {
	display: flex;
	width: 1440px;
	margin-left: auto;
	margin-right: auto;
}
.card {
	width: 215px;
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.card-list {
	list-style-type: none;
	width: 70%;
	height: 530px;
	padding: 10px;
	margin: 0;
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.details {
	background-color: transparent;
	font-size: 16px;
	font-weight: 700;
	color: #2B4074;
}
a {
	cursor: pointer;
}
.card img {
	
}
hr {
	width: 100px;
	height: 8px;
	background-color: #2B4074;
	margin-left: 0;
	margin-top: 30px;
	margin-bottom: 30px;

}
.heading {
	text-align: center;
	font-size: 16px;
	font-weight: 700;
}
.hidden-text {
	color: #9B9B9B;
	text-align: center;
	/*margin-bottom: 10px;*/
	display: none;
	margin-top: 15px;
	font-size: 16px;
	width: 195px;
}
.hidden-details {
	text-decoration: none;
	display: none;
	opacity: 0;
	margin-top: 20px;
}

.card:hover {
	outline: 5px solid #2B4074;
	outline-offset: -5px;
}
.card:hover .hidden-text, .card:hover .hidden-details {
	display: block;
	opacity: 1;
}
.our-projects {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-top: 50px;
}
.hr-projects {
	margin-right: auto;
	margin-left: auto;
	background-color: #fff;
}
.projects {
	display: flex;
	width: 1140px;
	height: 300px;
	justify-content: space-around;
	margin-left: auto;
	margin-right: auto;

}
.project {
	width: 270px;
	height: 240px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 4px;
}
.projects p {
	text-align: center;
	color: #2B4074;
	margin-top: 20px;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
}
.yellow {
	width: 240px;
	height: 220px;
	position: absolute;
	margin-top: 10px;
	background-color: #F9F6E5;
	border-radius: 3px;
	opacity: 0.8;
	display: none;
}
.icons {
	width: 65px;
	margin: auto;
	margin-top: 95px;
}
/*.first-project {
	background-image: url('../images/Бутик.png');
}
.second-project {
	background-image: url('../images/Строительство домов.png');
}
.third-project {
	background-image: url('../images/Кофейня.png');
}
.fourth-project {
	background-image: url('../images/Туры.png');
}*/
.project:hover .yellow {
	display: block
}
.element {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.video-text h1{
	color: #4A4A4A;
	font-size: 48px;
}
.video-text p {
	color: #9B9B9B;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 1px;
}
.video {
	display: flex;
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
}
.video-text {
	margin-left: 100px;
	margin-top: 70px;
}
.video-btn {
	text-align: center;
	background-color: #2B4074;
	
	width: 230px;
	height: 60px;
	font-size: 22px;
	color: #F9F6E5;
	cursor: pointer;
	border-radius: 3px;
	margin-top: 40px;
	outline: none;
}
.video-img img{
	border-radius: 3px;
	padding-top: 70px;
	padding-left: 50px;
}

.news {
	width: 1170px;
	height: 820px;
	column-count: 4;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}
.news img {
	border-radius: 4px;
}
/*.first-news {
	height: 440px;
	width: 270px;
}
.second-news {
	height: 340px;
	width: 270px;
}
.third-news {
	height: 380px;
	width: 270px;
}
.fourth-news {
	height: 210px;
	width: 270px;
}
.fifth-news {
	height: 200px;
	width: 270px;
}
.sixth-news {
	height: 340px;
	width: 270px;
}
.seventh-news {
	height: 220px;
	width: 270px;
}
.eighth-news {
	height: 440px;
	width: 270px;
}*/
.item-news {
	position: relative;
	width: 270px;
	height: auto;
	margin-bottom: 30px;
}

.news p {
	position: absolute;
	padding: 10px;
	text-align: center;
	bottom: 0px;
	width: calc(100% - 20px);
	background-color: #fff;
	color: #4A4A4A;
}
.item-news:hover {
	outline: 13px solid #2B4074;
	outline-offset: -13px;
}
.item-news:hover .text-news {
	background-color: #2B4074;
	bottom: 30px;
	color: #fff;
}
.info-button-news {
	border-radius: 0px;
	position: absolute;
	top: 35%;
	left: 46%;
	opacity: 0;

}
.item-news:hover .info-button-news {
	opacity: 1;
}
.quote p {
	color: #4A4A4A;
	font-size: 36px;
	font-weight: normal;
}
.quote {
	align-items: center;
	padding-top: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/*width: 100%;
	height: 400px;*/
}
.digital {
	color: #2B4074;
	font-weight: bold;
}
.quote a, .quote p {
	margin-bottom: 30px;
}
.dots-quote .fa-circle {
	color: #2B4074;
	background-color: #2B4074;
	border-radius: 50%;
}
.dots-quote .fa-circle:hover {
	background-color: transparent;
}
.watch-button {
	background-color: #2B4074;
	position: absolute;
	width: 230px;
	left: 50%;
	transform: translate(-50%);
	top: -35px;
	border-radius: 3px;
	text-align: center;
}
.watch {
	margin-left: auto;
	margin-right: auto;
}
.social {
	width: 1210px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin-left: auto;
	margin-top: 80px;
	margin-right: auto;
}
.authors {
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
}
.type {
	text-align: center;
	padding: 26px 130px;
	border: 1px solid #7EBF84;
}
.facebook {
	border-left: none;
}
.pinterest {
	border-right: none;
}
.footer {
	display: grid;
	width: 1210px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
}
.contacts h3, .contacts p {
	color: #F9F6E5;
}
.contacts p {
	line-height: 20px;
}
.scroll-top {
	margin-left: auto;
	padding-top: 10px;
	padding-right: 100px;

	width: 100px;
}
.authors-text {
	font-size: 24px;
	padding-top: 150px;
	padding-left: 0px;
	letter-spacing: 2px;
}
